<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>민원 접수 완료</title>
  <link rel="stylesheet" href="/css/inquiry.css">
</head>

<body>

  <header class="inquiry-header">
      <img src="/images/logo3.png" class="inquiry-logo">
      <h1>젤리 경찰청 민원실</h1>
  </header>

  <div class="submit-container">

    <h2 style="color:#003c8f;">민원이 정상적으로 접수되었습니다</h2>

    <p style="font-size:17px; margin-top:20px;">
      제출하신 민원은 담당자가 확인 후 접수 처리됩니다.
    </p>

    <div style="margin-top:40px;">
      <a href="/inquiry" class="back-btn">← 민원실로 돌아가기</a>
    </div>

  </div>

</body>
</html>
