<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8"/>
  <link rel="stylesheet" href="/css/inquiry.css"/>
  <title>민원 접수</title>
</head>

<body>
<header>
  <img src="/images/logo.png" class="inquiry-logo"/>
  <h1>젤리 경찰청 민원실</h1>
</header>

<div class="container">
  <form action="/submit" method="post" enctype="multipart/form-data">
    <label>이름</label>
    <input name="name" required />

    <br>
    <br>
    <br>

    <label>고유번호</label>
    <input name="identity" required />

    <br>
    <br>
    <br>

    <label>내용</label>
    <textarea name="content" rows="5" required></textarea>

    <br>
    <br>
    <br>

    <label>첨부 파일</label>
    <input type="file" name="file"/>

    <br>
    <br>
    <br>

    <button type="submit">제출하기</button>
  </form>
</div>
</body>
</html>
