<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>젤리 경찰청</title>
  <link rel="stylesheet" href="/css/apply.css">
</head>

<body>

    <%- include("../partials/header") %>

  <div class="submit-container">

    <h1> 제작중 </h1>

  </div>

</body>
</html>
