<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title><%= data.title %></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <div class="container">
    <h2><%= data.title %></h2>
    <p><%= data.content %></p>
  </div>

</body>
</html>
