<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="/style.css" />
  <title>자주 묻는 질문</title>
</head>
<body>
<header>
  <img src="/logo.png" />
  <h1>젤리 경찰청 고객센터 안내</h1>
</header>
<div class="container">
  <h2>자주 묻는 질문(FAQ)</h2>
  <p>현재 준비 중입니다.</p>
  <a href="/"><button>메인으로 돌아가기</button></a>
</div>
</body>
</html>
