<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>부서 소개 수정</title>
  <link rel="stylesheet" href="/css/intro.css">
</head>
<body>

<form method="POST">
<div class="intro-container">
  <h1 class="page-title">부서 소개 수정</h1>

  <% data.teams.forEach((t, i) => { %>
    <div class="dept-box">
      <input
        class="dept-title"
        name="teams[<%= i %>][name]"
        value="<%= t.name %>"
      >
      <textarea
        class="dept-text"
        name="teams[<%= i %>][desc]"
        rows="4"
      ><%= t.desc %></textarea>
    </div>
  <% }) %>

  <button class="submit-btn">저장</button>
</div>
</form>

</body>
</html>
