<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>기관 소개 수정</title>
  <link rel="stylesheet" href="/css/intro.css">
  <link rel="stylesheet" href="/css/admin.css">
  <link rel="stylesheet" href="/css/admin_header">
</head>
<body>

  <%- include("../partials/admin_header") %>
<form method="POST">
<div class="intro-container">

  <input
    class="page-title"
    name="title"
    value="<%= data.title %>"
  >

  <textarea
    name="content"
    class="rank-card"
    rows="10"
  ><%= data.content %></textarea>

  <button class="submit-btn">저장</button>

</div>
</form>

</body>
</html>
