<header class="site-header">
  <div class="header-inner">

    <!-- 왼쪽 : 로고 + 타이틀 -->
    <a href="/" class="header-left">
      <img src="/images/logo.png" class="site-logo">
      <span class="site-title">젤리 경찰청</span>
    </a>

    <!-- 오른쪽 : 관리자 로그인 -->
    <a href="/login" class="admin-login-link">
      로그인
    </a>

  </div>
</header>
