<!doctype html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <title>나의 건의</title>
  <link rel="stylesheet" href="/css/apply_conditions.css" />
</head>
<body>
    <%- include("../partials/header") %>
    <div>
        <h1><%= complaint.title %></h1>
            <small><%= complaint.created_at %></small>
            <hr />
                <pre style="white-space: pre-wrap;"><%= complaint.content %></pre>
            <hr />
            <a href="/my/complaints">목록으로</a>

    </div>
</body>
</html>