<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>건의 접수 완료</title>
  <link rel="stylesheet" href="/css/suggest.css">
  <link rel="stylesheet" href="/css/header">
</head>

<body>
    <%- include("../partials/header") %>

<div class="success-box">
  <div class="success-icon">✔</div>
  <h2>건의가 정상적으로 제출되었습니다.</h2>

  <p>
    소중한 의견은 담당 팀에서 검토 후 서비스 개선에 반영됩니다.<br>
    이용해 주셔서 감사합니다.
  </p>

  <a href="/" class="back-btn">메인으로 돌아가기</a>
</div>

</body>
</html>
