<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="/style.css" />
  <title>건의 사항</title>
</head>
<body>
<header>
  <img src="/logo.png" />
  <h1>젤리 경찰청 건의 사항</h1>
</header>
<div class="container">
  <h2>건의 사항 접수 페이지</h2>
  <p>현재는 민원 접수 시스템만 활성화되어 있습니다.<br>추후 건의 시스템이 이 위치에 추가될 예정입니다.</p>
  <a href="/"><button>메인으로 돌아가기</button></a>
</div>
</body>
</html>
